<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名稱", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "說明", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :lecturer_name, "講師", style: "display: block" %>
    <%= form.text_field :lecturer_name  %>
  </div>

  <div>
    <%= form.submit "新增課程"%>
  </div>
<% end %>
