<p style="color: green"><%= notice %></p>

<h1><%= @course.name %></h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>名稱</th>
      <th>說明</th>
      <th>講師</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= render @course %>
      <td><%= link_to "進入課程單元", course_units_path(@course) %></td>
      <td><%= link_to "編輯課程", edit_course_path(@course) %></td>
      <td><%= link_to "刪除課程", course_path, data: {"turbo-method": :delete} %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "回到課程列表", courses_path, class:"btn btn-secondary"  %>

</div>
