<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= link_to "編輯課程", edit_course_path(@course) %>
  <%= link_to "進入課程單元", course_units_path(@course) %>
  <%= link_to "回到課程列表", courses_path %>
  <%= button_to "刪除課程", @course, method: :delete %>
</div>
