<%= form_for [@course, @unit] do |form| %>
  <% if unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :order, "順序", style: "display: block" %>
    <%= form.number_field :order, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :name, "名稱", style: "display: block" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description, "說明", style: "display: block" %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :content, "內容", style: "display: block" %>
    <%= form.text_area :content, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.submit "儲存", class:"btn btn-secondary" %>
  </div>
<% end %>
