<div id="<%= dom_id unit %>">
  <p>
    <strong>Number:</strong>
    <%= unit.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= unit.course_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= unit.description %>
  </p>

</div>
