<p style="color: green"><%= notice %></p>

<%= render @unit %>

<div>
  <%= link_to "Edit this unit", edit_course_unit_path(@course, @unit) %> |
  <%= link_to "Back to units", course_units_path %>

  <%= button_to "Destroy this unit", course_unit_path, method: :delete %>
</div>
