<p style="color: green"><%= notice %></p>

<%= render @unit %>

<div>
  <%= link_to "編輯此單元", edit_course_unit_path(@course, @unit) %> |
  <%= link_to "回到單元列表", course_units_path %>

  <%= button_to "刪除此單元", course_unit_path, method: :delete %>
</div>
