<div class="jumbotron">
  <h1 class="display-4"><%= @unit.name %></h1>
  <p class="lead"><%= @unit.description %></p>
  <p><%= @unit.content %></p>
  <%= link_to "編輯單元", edit_course_unit_path(@course, @unit), class:"btn btn-primary" %>
  <%= link_to "刪除單元", course_unit_path, data: {"turbo-method": :delete}, class:"btn btn-danger" %>
</div>

<div>
  <%= link_to "回到單元列表", course_units_path, class:"btn btn-secondary" %>
</div>
